In [1]:
import numpy as np
import pandas as pd

In [76]:
BarData = pd.read_csv('C:/Users/hp/CSA_AGRI_DATA/area_product/BarleyAreaPro.csv')
MazData = pd.read_csv('C:/Users/hp/CSA_AGRI_DATA/area_product/MaizeAreaPro.csv')
MilData = pd.read_csv('C:/Users/hp/CSA_AGRI_DATA/area_product/MilletAreaPro.csv')
SorgData = pd.read_csv('C:/Users/hp/CSA_AGRI_DATA/area_product/SorghumAreaPro.csv')
TefData = pd.read_csv('C:/Users/hp/CSA_AGRI_DATA/area_product/TeffAreaPro.csv')
WhetData = pd.read_csv('C:/Users/hp/CSA_AGRI_DATA/area_product/WheatAreaPro.csv')
ChPRData = pd.read_csv('C:/Users/hp/CSA_AGRI_DATA/area_product/Red_Chick_peasAreaPro.csv')
WhHBData = pd.read_csv('C:/Users/hp/CSA_AGRI_DATA/area_product/White_haricot_beansAreaPro.csv')

In [77]:
ChPRData.head()

   Zone  Year    Area  Production  Yield
0     1  1996  2280.0     22084.0   9.68
1     2  1996  1314.0      6665.0   5.09
2     3  1996     NaN         NaN    NaN
3     4  1996     NaN         NaN    NaN
4     1  1997  3240.0     18048.0   5.57

In [78]:
# make a list of the variables that contain missing values
vars_with_na = [var for var in BarData.columns if BarData[var].isnull().sum()>1]

# print the variable name and the percentage of missing values
for var in vars_with_na:
    print(var, np.round(BarData[var].isnull().mean(), 3),  ' % missing values')

Area 0.25  % missing values
Production 0.283  % missing values
Yield 0.283  % missing values

In [79]:
# make a list of the variables that contain missing values
vars_with_na = [var for var in MazData.columns if MazData[var].isnull().sum()>1]

# print the variable name and the percentage of missing values
for var in vars_with_na:
    print(var, np.round(MazData[var].isnull().mean(), 3),  ' % missing values')

Area 0.133  % missing values
Production 0.133  % missing values
Yield 0.133  % missing values

In [80]:
# make a list of the variables that contain missing values
vars_with_na = [var for var in MilData.columns if MilData[var].isnull().sum()>1]

# print the variable name and the percentage of missing values
for var in vars_with_na:
    print(var, np.round(MilData[var].isnull().mean(), 3),  ' % missing values')

Area 0.133  % missing values
Production 0.133  % missing values
Yield 0.133  % missing values

In [81]:
# make a list of the variables that contain missing values
vars_with_na = [var for var in SorgData.columns if SorgData[var].isnull().sum()>1]

# print the variable name and the percentage of missing values
for var in vars_with_na:
    print(var, np.round(SorgData[var].isnull().mean(), 3),  ' % missing values')

Area 0.167  % missing values
Production 0.2  % missing values
Yield 0.2  % missing values

In [82]:
# make a list of the variables that contain missing values
vars_with_na = [var for var in TefData.columns if TefData[var].isnull().sum()>1]

# print the variable name and the percentage of missing values
for var in vars_with_na:
    print(var, np.round(TefData[var].isnull().mean(), 3),  ' % missing values')

Area 0.133  % missing values
Production 0.167  % missing values
Yield 0.167  % missing values

In [83]:
# make a list of the variables that contain missing values
vars_with_na = [var for var in WhetData.columns if WhetData[var].isnull().sum()>1]

# print the variable name and the percentage of missing values
for var in vars_with_na:
    print(var, np.round(WhetData[var].isnull().mean(), 3),  ' % missing values')

Area 0.417  % missing values
Production 0.45  % missing values
Yield 0.45  % missing values

In [84]:
# make a list of the variables that contain missing values
vars_with_na = [var for var in ChPRData.columns if ChPRData[var].isnull().sum()>1]

# print the variable name and the percentage of missing values
for var in vars_with_na:
    print(var, np.round(ChPRData[var].isnull().mean(), 3),  ' % missing values')

Area 0.367  % missing values
Production 0.417  % missing values
Yield 0.433  % missing values

In [85]:
# make a list of the variables that contain missing values
vars_with_na = [var for var in WhHBData.columns if WhHBData[var].isnull().sum()>1]

# print the variable name and the percentage of missing values
for var in vars_with_na:
    print(var, np.round(WhHBData[var].isnull().mean(), 3),  ' % missing values')

Area 0.75  % missing values
Production 0.8  % missing values
Yield 0.817  % missing values

In [86]:
BarZon1 = BarData[BarData['Zone'] == 1]
BarZon2 = BarData[BarData['Zone'] == 2]
BarZon3 = BarData[BarData['Zone'] == 3]
BarZon4 = BarData[BarData['Zone'] == 4]

###################################################################

MazZon1 = MazData[MazData['Zone'] == 1]
MazZon2 = MazData[MazData['Zone'] == 2]
MazZon3 = MazData[MazData['Zone'] == 3]
MazZon4 = MazData[MazData['Zone'] == 4]

###################################################################

MilZon1 = MilData[MilData['Zone'] == 1]
MilZon2 = MilData[MilData['Zone'] == 2]
MilZon3 = MilData[MilData['Zone'] == 3]
MilZon4 = MilData[MilData['Zone'] == 4]

###################################################################

SorgZon1 = SorgData[SorgData['Zone'] == 1]
SorgZon2 = SorgData[SorgData['Zone'] == 2]
SorgZon3 = SorgData[SorgData['Zone'] == 3]
SorgZon4 = SorgData[SorgData['Zone'] == 4]

###################################################################

TefZon1 = TefData[TefData['Zone'] == 1]
TefZon2 = TefData[TefData['Zone'] == 2]
TefZon3 = TefData[TefData['Zone'] == 3]
TefZon4 = TefData[TefData['Zone'] == 4]

###################################################################

WhetZon1 = WhetData[WhetData['Zone'] == 1]
WhetZon2 = WhetData[WhetData['Zone'] == 2]
WhetZon3 = WhetData[WhetData['Zone'] == 3]
WhetZon4 = WhetData[WhetData['Zone'] == 4]

###################################################################

ChPRZon1 = ChPRData[WhetData['Zone'] == 1]
ChPRZon2 = ChPRData[WhetData['Zone'] == 2]
ChPRZon3 = ChPRData[WhetData['Zone'] == 3]
ChPRZon4 = ChPRData[WhetData['Zone'] == 4]

###################################################################

WhHBZon1 = WhHBData[WhHBData['Zone'] == 1]
WhHBZon2 = WhHBData[WhHBData['Zone'] == 2]
WhHBZon3 = WhHBData[WhHBData['Zone'] == 3]
WhHBZon4 = WhHBData[WhHBData['Zone'] == 4]

In [87]:
def impute_na1(df, variable, mean_median):

    return df[variable].fillna(mean_median)

In [88]:
BarArZon1 = BarData[BarData['Zone'] == 1]['Area'].mean()
BarArZon2 = BarData[BarData['Zone'] == 2]['Area'].mean()
BarArZon3 = BarData[BarData['Zone'] == 3]['Area'].mean()
BarArZon4 = BarData[BarData['Zone'] == 4]['Area'].mean()
BarProZon1 = BarData[BarData['Zone'] == 1]['Production'].mean()
BarProZon2 = BarData[BarData['Zone'] == 2]['Production'].mean()
BarProZon3 = BarData[BarData['Zone'] == 3]['Production'].mean()
BarProZon4 = BarData[BarData['Zone'] == 4]['Production'].mean()
###################################################################

MazArZon1 = MazData[MazData['Zone'] == 1]['Area'].mean()
MazArZon2 = MazData[MazData['Zone'] == 2]['Area'].mean()
MazArZon3 = MazData[MazData['Zone'] == 3]['Area'].mean()
MazArZon4 = MazData[MazData['Zone'] == 4]['Area'].mean()
MazProZon1 = MazData[MazData['Zone'] == 1]['Production'].mean()
MazProZon2 = MazData[MazData['Zone'] == 2]['Production'].mean()
MazProZon3 = MazData[MazData['Zone'] == 3]['Production'].mean()
MazProZon4 = MazData[MazData['Zone'] == 4]['Production'].mean()
###################################################################

MilArZon1 = MilData[MilData['Zone'] == 1]['Area'].mean()
MilArZon2 = MilData[MilData['Zone'] == 2]['Area'].mean()
MilArZon3 = MilData[MilData['Zone'] == 3]['Area'].mean()
MilArZon4 = MilData[MilData['Zone'] == 4]['Area'].mean()
MilProZon1 = MilData[MilData['Zone'] == 1]['Production'].mean()
MilProZon2 = MilData[MilData['Zone'] == 2]['Production'].mean()
MilProZon3 = MilData[MilData['Zone'] == 3]['Production'].mean()
MilProZon4 = MilData[MilData['Zone'] == 4]['Production'].mean()
###################################################################

SorgArZon1 = SorgData[SorgData['Zone'] == 1]['Area'].mean()
SorgArZon2 = SorgData[SorgData['Zone'] == 2]['Area'].mean()
SorgArZon3 = SorgData[SorgData['Zone'] == 3]['Area'].mean()
SorgArZon4 = SorgData[SorgData['Zone'] == 4]['Area'].mean()
SorgProZon1 = SorgData[SorgData['Zone'] == 1]['Production'].mean()
SorgProZon2 = SorgData[SorgData['Zone'] == 2]['Production'].mean()
SorgProZon3 = SorgData[SorgData['Zone'] == 3]['Production'].mean()
SorgProZon4 = SorgData[SorgData['Zone'] == 4]['Production'].mean()
###################################################################

TefArZon1 = TefData[TefData['Zone'] == 1]['Area'].mean()
TefArZon2 = TefData[TefData['Zone'] == 2]['Area'].mean()
TefArZon3 = TefData[TefData['Zone'] == 3]['Area'].mean()
TefArZon4 = TefData[TefData['Zone'] == 4]['Area'].mean()
TefProZon1 = TefData[TefData['Zone'] == 1]['Production'].mean()
TefProZon2 = TefData[TefData['Zone'] == 2]['Production'].mean()
TefProZon3 = TefData[TefData['Zone'] == 3]['Production'].mean()
TefProZon4 = TefData[TefData['Zone'] == 4]['Production'].mean()
###################################################################

WhetArZon1 = WhetData[WhetData['Zone'] == 1]['Area'].mean()
WhetArZon2 = WhetData[WhetData['Zone'] == 2]['Area'].mean()
WhetArZon3 = WhetData[WhetData['Zone'] == 3]['Area'].mean()
WhetArZon4 = WhetData[WhetData['Zone'] == 4]['Area'].mean()
WhetProZon1 = WhetData[WhetData['Zone'] == 1]['Production'].mean()
WhetProZon2 = WhetData[WhetData['Zone'] == 2]['Production'].mean()
WhetProZon3 = WhetData[WhetData['Zone'] == 3]['Production'].mean()
WhetProZon4 = WhetData[WhetData['Zone'] == 4]['Production'].mean()
###################################################################

ChPRArZon1 = ChPRData[WhetData['Zone'] == 1]['Area'].mean()
ChPRArZon2 = ChPRData[WhetData['Zone'] == 2]['Area'].mean()
ChPRArZon3 = ChPRData[WhetData['Zone'] == 3]['Area'].mean()
ChPRArZon4 = ChPRData[WhetData['Zone'] == 4]['Area'].mean()
ChPRProZon1 = ChPRData[WhetData['Zone'] == 1]['Production'].mean()
ChPRProZon2 = ChPRData[WhetData['Zone'] == 2]['Production'].mean()
ChPRProZon3 = ChPRData[WhetData['Zone'] == 3]['Production'].mean()
ChPRProZon4 = ChPRData[WhetData['Zone'] == 4]['Production'].mean()
###################################################################

WhHBArZon1 = WhHBData[WhHBData['Zone'] == 1]['Area'].mean()
WhHBArZon2 = WhHBData[WhHBData['Zone'] == 2]['Area'].mean()
WhHBArZon3 = WhHBData[WhHBData['Zone'] == 3]['Area'].mean()
WhHBArZon4 = WhHBData[WhHBData['Zone'] == 4]['Area'].mean()
WhHBProZon1 = WhHBData[WhHBData['Zone'] == 1]['Production'].mean()
WhHBProZon2 = WhHBData[WhHBData['Zone'] == 2]['Production'].mean()
WhHBProZon3 = WhHBData[WhHBData['Zone'] == 3]['Production'].mean()
WhHBProZon4 = WhHBData[WhHBData['Zone'] == 4]['Production'].mean()

In [89]:
BarZon1.loc[:,'Area'] = impute_na1(BarZon1, 'Area', BarArZon1)
BarZon2.loc[:,'Area'] = impute_na1(BarZon2, 'Area', BarArZon2)
BarZon3.loc[:,'Area'] = impute_na1(BarZon3, 'Area', BarArZon3)
BarZon4.loc[:,'Area'] = impute_na1(BarZon4, 'Area', BarArZon4)
BarZon1.loc[:,'Production'] = impute_na1(BarZon1, 'Production', BarProZon1)
BarZon2.loc[:,'Production'] = impute_na1(BarZon2, 'Production', BarProZon2)
BarZon3.loc[:,'Production'] = impute_na1(BarZon3, 'Production', BarProZon3)
BarZon4.loc[:,'Production'] = impute_na1(BarZon4, 'Production', BarProZon4)
#############################################################################

MazZon1.loc[:,'Area'] = impute_na1(MazZon1, 'Area', MazArZon1)
MazZon2.loc[:,'Area'] = impute_na1(MazZon2, 'Area', MazArZon2)
MazZon3.loc[:,'Area'] = impute_na1(MazZon3, 'Area', MazArZon3)
MazZon4.loc[:,'Area'] = impute_na1(MazZon4, 'Area', MazArZon4)
MazZon1.loc[:,'Production'] = impute_na1(MazZon1, 'Production', MazProZon1)
MazZon2.loc[:,'Production'] = impute_na1(MazZon2, 'Production', MazProZon2)
MazZon3.loc[:,'Production'] = impute_na1(MazZon3, 'Production', MazProZon3)
MazZon4.loc[:,'Production'] = impute_na1(MazZon4, 'Production', MazProZon4)
#############################################################################

MilZon1.loc[:,'Area'] = impute_na1(MilZon1, 'Area', MilArZon1)
MilZon2.loc[:,'Area'] = impute_na1(MilZon2, 'Area', MilArZon2)
MilZon3.loc[:,'Area'] = impute_na1(MilZon3, 'Area', MilArZon3)
MilZon4.loc[:,'Area'] = impute_na1(MilZon4, 'Area', MilArZon4)
MilZon1.loc[:,'Production'] = impute_na1(MilZon1, 'Production', MilProZon1)
MilZon2.loc[:,'Production'] = impute_na1(MilZon2, 'Production', MilProZon2)
MilZon3.loc[:,'Production'] = impute_na1(MilZon3, 'Production', MilProZon3)
MilZon4.loc[:,'Production'] = impute_na1(MilZon4, 'Production', MilProZon4)
#############################################################################

SorgZon1.loc[:,'Area'] = impute_na1(SorgZon1, 'Area', SorgArZon1)
SorgZon2.loc[:,'Area'] = impute_na1(SorgZon2, 'Area', SorgArZon2)
SorgZon3.loc[:,'Area'] = impute_na1(SorgZon3, 'Area', SorgArZon3)
SorgZon4.loc[:,'Area'] = impute_na1(SorgZon4, 'Area', SorgArZon4)
SorgZon1.loc[:,'Production'] = impute_na1(SorgZon1, 'Production', SorgProZon1)
SorgZon2.loc[:,'Production'] = impute_na1(SorgZon2, 'Production', SorgProZon2)
SorgZon3.loc[:,'Production'] = impute_na1(SorgZon3, 'Production', SorgProZon3)
SorgZon4.loc[:,'Production'] = impute_na1(SorgZon4, 'Production', SorgProZon4)
#############################################################################

TefZon1.loc[:,'Area'] = impute_na1(TefZon1, 'Area', TefArZon1)
TefZon2.loc[:,'Area'] = impute_na1(TefZon2, 'Area', TefArZon2)
TefZon3.loc[:,'Area'] = impute_na1(TefZon3, 'Area', TefArZon3)
TefZon4.loc[:,'Area'] = impute_na1(TefZon4, 'Area', TefArZon4)
TefZon1.loc[:,'Production'] = impute_na1(TefZon1, 'Production', TefProZon1)
TefZon2.loc[:,'Production'] = impute_na1(TefZon2, 'Production', TefProZon2)
TefZon3.loc[:,'Production'] = impute_na1(TefZon3, 'Production', TefProZon3)
TefZon4.loc[:,'Production'] = impute_na1(TefZon4, 'Production', TefProZon4)
#############################################################################

WhetZon1.loc[:,'Area'] = impute_na1(WhetZon1, 'Area', WhetArZon1)
WhetZon2.loc[:,'Area'] = impute_na1(WhetZon2, 'Area', WhetArZon2)
WhetZon3.loc[:,'Area'] = impute_na1(WhetZon3, 'Area', WhetArZon3)
WhetZon4.loc[:,'Area'] = impute_na1(WhetZon4, 'Area', WhetArZon4)
WhetZon1.loc[:,'Production'] = impute_na1(WhetZon1, 'Production', WhetProZon1)
WhetZon2.loc[:,'Production'] = impute_na1(WhetZon2, 'Production', WhetProZon2)
WhetZon3.loc[:,'Production'] = impute_na1(WhetZon3, 'Production', WhetProZon3)
WhetZon4.loc[:,'Production'] = impute_na1(WhetZon4, 'Production', WhetProZon4)
#############################################################################

ChPRZon1.loc[:,'Area'] = impute_na1(ChPRZon1, 'Area', ChPRArZon1)
ChPRZon2.loc[:,'Area'] = impute_na1(ChPRZon2, 'Area', ChPRArZon2)
ChPRZon3.loc[:,'Area'] = impute_na1(ChPRZon3, 'Area', ChPRArZon3)
ChPRZon4.loc[:,'Area'] = impute_na1(ChPRZon4, 'Area', ChPRArZon4)
ChPRZon1.loc[:,'Production'] = impute_na1(ChPRZon1, 'Production', ChPRProZon1)
ChPRZon2.loc[:,'Production'] = impute_na1(ChPRZon2, 'Production', ChPRProZon2)
ChPRZon3.loc[:,'Production'] = impute_na1(ChPRZon3, 'Production', ChPRProZon3)
ChPRZon4.loc[:,'Production'] = impute_na1(ChPRZon4, 'Production', ChPRProZon4)
#############################################################################

WhHBZon1.loc[:,'Area'] = impute_na1(WhHBZon1, 'Area', WhHBArZon1)
WhHBZon2.loc[:,'Area'] = impute_na1(WhHBZon2, 'Area', WhHBArZon2)
WhHBZon3.loc[:,'Area'] = impute_na1(WhHBZon3, 'Area', WhHBArZon3)
WhHBZon4.loc[:,'Area'] = impute_na1(WhHBZon4, 'Area', WhHBArZon4)
WhHBZon1.loc[:,'Production'] = impute_na1(WhHBZon1, 'Production', WhHBProZon1)
WhHBZon2.loc[:,'Production'] = impute_na1(WhHBZon2, 'Production', WhHBProZon2)
WhHBZon3.loc[:,'Production'] = impute_na1(WhHBZon3, 'Production', WhHBProZon3)
WhHBZon4.loc[:,'Production'] = impute_na1(WhHBZon4, 'Production', WhHBProZon4)
#############################################################################

In [90]:
BarZon1

    Zone  Year        Area  Production  Yield
0      1  1996  383.000000    1754.000   4.58
4      1  1997  500.000000    1863.000   3.73
8      1  1998  587.580000    5000.410   8.51
12     1  1999  533.750000    5093.510   9.54
16     1  2000  633.310000    5380.970   8.50
20     1  2001  463.636667    4374.551    NaN
24     1  2002  463.636667    4374.551    NaN
28     1  2003  255.780000    3434.950  13.43
32     1  2004  414.900000    4366.970  10.53
36     1  2005  724.950000    4374.551    NaN
40     1  2006  369.000000    3913.030  10.60
44     1  2007  384.330000    5576.800  14.51
48     1  2008  333.550000    4374.551    NaN
52     1  2009  443.490000    7361.870  16.60
56     1  2010  463.636667    4374.551    NaN

In [91]:
def impute_na2(df, variable, Area, Production, mean_median):

    return df[variable].fillna(df[Production] / df[Area])

In [92]:
BarZon1.loc[:,'Yield'] = impute_na2(BarZon1, 'Yield', 'Area', 'Production', BarArZon1)
BarZon2.loc[:,'Yield'] = impute_na2(BarZon2, 'Yield', 'Area', 'Production', BarArZon2)
BarZon3.loc[:,'Yield'] = impute_na2(BarZon3, 'Yield', 'Area', 'Production', BarArZon3)
BarZon4.loc[:,'Yield'] = impute_na2(BarZon4, 'Yield', 'Area', 'Production', BarArZon4)

#############################################################################

MazZon1.loc[:,'Yield'] = impute_na2(MazZon1, 'Yield', 'Area', 'Production', MazArZon1)
MazZon2.loc[:,'Yield'] = impute_na2(MazZon2, 'Yield', 'Area', 'Production', MazArZon2)
MazZon3.loc[:,'Yield'] = impute_na2(MazZon3, 'Yield', 'Area', 'Production', MazArZon3)
MazZon4.loc[:,'Yield'] = impute_na2(MazZon4, 'Yield', 'Area', 'Production', MazArZon4)
#############################################################################

MilZon1.loc[:,'Yield'] = impute_na2(MilZon1, 'Yield', 'Area', 'Production', MilArZon1)
MilZon2.loc[:,'Yield'] = impute_na2(MilZon2, 'Yield', 'Area', 'Production', MilArZon2)
MilZon3.loc[:,'Yield'] = impute_na2(MilZon3, 'Yield', 'Area', 'Production', MilArZon3)
MilZon4.loc[:,'Yield'] = impute_na2(MilZon4, 'Yield', 'Area', 'Production', MilArZon4)

#############################################################################

SorgZon1.loc[:,'Yield'] = impute_na2(SorgZon1, 'Yield', 'Area', 'Production', SorgArZon1)
SorgZon2.loc[:,'Yield'] = impute_na2(SorgZon2, 'Yield', 'Area', 'Production', SorgArZon2)
SorgZon3.loc[:,'Yield'] = impute_na2(SorgZon3, 'Yield', 'Area', 'Production', SorgArZon3)
SorgZon4.loc[:,'Yield'] = impute_na2(SorgZon4, 'Yield', 'Area', 'Production', SorgArZon4)

#############################################################################

TefZon1.loc[:,'Yield'] = impute_na2(TefZon1, 'Yield', 'Area', 'Production', TefArZon1)
TefZon2.loc[:,'Yield'] = impute_na2(TefZon2, 'Yield', 'Area', 'Production', TefArZon2)
TefZon3.loc[:,'Yield'] = impute_na2(TefZon3, 'Yield', 'Area', 'Production', TefArZon3)
TefZon4.loc[:,'Yield'] = impute_na2(TefZon4, 'Yield', 'Area', 'Production', TefArZon4)
#############################################################################

WhetZon1.loc[:,'Yield'] = impute_na2(WhetZon1, 'Yield', 'Area', 'Production', WhetArZon1)
WhetZon2.loc[:,'Yield'] = impute_na2(WhetZon2, 'Yield', 'Area', 'Production', WhetArZon2)
WhetZon3.loc[:,'Yield'] = impute_na2(WhetZon3, 'Yield', 'Area', 'Production', WhetArZon3)
WhetZon4.loc[:,'Yield'] = impute_na2(WhetZon4, 'Yield', 'Area', 'Production', WhetArZon4)

#############################################################################

ChPRZon1.loc[:,'Yield'] = impute_na2(ChPRZon1, 'Yield', 'Area', 'Production', ChPRArZon1)
ChPRZon2.loc[:,'Yield'] = impute_na2(ChPRZon2, 'Yield', 'Area', 'Production', ChPRArZon2)
ChPRZon3.loc[:,'Yield'] = impute_na2(ChPRZon3, 'Yield', 'Area', 'Production', ChPRArZon3)
ChPRZon4.loc[:,'Yield'] = impute_na2(ChPRZon4, 'Yield', 'Area', 'Production', ChPRArZon4)

#############################################################################

WhHBZon1.loc[:,'Yield'] = impute_na2(WhHBZon1, 'Yield', 'Area', 'Production', WhHBArZon1)
WhHBZon2.loc[:,'Yield'] = impute_na2(WhHBZon2, 'Yield', 'Area', 'Production', WhHBArZon2)
WhHBZon3.loc[:,'Yield'] = impute_na2(WhHBZon3, 'Yield', 'Area', 'Production', WhHBArZon3)
WhHBZon4.loc[:,'Yield'] = impute_na2(WhHBZon4, 'Yield', 'Area', 'Production', WhHBArZon4)
#############################################################################

In [93]:
BarZon1

    Zone  Year        Area  Production      Yield
0      1  1996  383.000000    1754.000   4.580000
4      1  1997  500.000000    1863.000   3.730000
8      1  1998  587.580000    5000.410   8.510000
12     1  1999  533.750000    5093.510   9.540000
16     1  2000  633.310000    5380.970   8.500000
20     1  2001  463.636667    4374.551   9.435300
24     1  2002  463.636667    4374.551   9.435300
28     1  2003  255.780000    3434.950  13.430000
32     1  2004  414.900000    4366.970  10.530000
36     1  2005  724.950000    4374.551   6.034280
40     1  2006  369.000000    3913.030  10.600000
44     1  2007  384.330000    5576.800  14.510000
48     1  2008  333.550000    4374.551  13.115128
52     1  2009  443.490000    7361.870  16.600000
56     1  2010  463.636667    4374.551   9.435300

In [94]:
BarData = BarZon1[BarZon1['Year'] == 1996]
BarData = BarData.append(BarZon2[BarZon2['Year'] == 1996])
BarData = BarData.append(BarZon3[BarZon3['Year'] == 1996])
BarData = BarData.append(BarZon4[BarZon4['Year'] == 1996])
BarData = BarData.append(BarZon1[BarZon1['Year'] == 1997])
BarData = BarData.append(BarZon2[BarZon2['Year'] == 1997])
BarData = BarData.append(BarZon3[BarZon3['Year'] == 1997])
BarData = BarData.append(BarZon4[BarZon4['Year'] == 1997])
BarData = BarData.append(BarZon1[BarZon1['Year'] == 1998])
BarData = BarData.append(BarZon2[BarZon2['Year'] == 1998])
BarData = BarData.append(BarZon3[BarZon3['Year'] == 1998])
BarData = BarData.append(BarZon4[BarZon4['Year'] == 1998])
BarData = BarData.append(BarZon1[BarZon1['Year'] == 1999])
BarData = BarData.append(BarZon2[BarZon2['Year'] == 1999])
BarData = BarData.append(BarZon3[BarZon3['Year'] == 1999])
BarData = BarData.append(BarZon4[BarZon4['Year'] == 1999])
BarData = BarData.append(BarZon1[BarZon1['Year'] == 2000])
BarData = BarData.append(BarZon2[BarZon2['Year'] == 2000])
BarData = BarData.append(BarZon3[BarZon3['Year'] == 2000])
BarData = BarData.append(BarZon4[BarZon4['Year'] == 2000])
BarData = BarData.append(BarZon1[BarZon1['Year'] == 2001])
BarData = BarData.append(BarZon2[BarZon2['Year'] == 2001])
BarData = BarData.append(BarZon3[BarZon3['Year'] == 2001])
BarData = BarData.append(BarZon4[BarZon4['Year'] == 2001])
BarData = BarData.append(BarZon1[BarZon1['Year'] == 2002])
BarData = BarData.append(BarZon2[BarZon2['Year'] == 2002])
BarData = BarData.append(BarZon3[BarZon3['Year'] == 2002])
BarData = BarData.append(BarZon4[BarZon4['Year'] == 2002])
BarData = BarData.append(BarZon1[BarZon1['Year'] == 2003])
BarData = BarData.append(BarZon2[BarZon2['Year'] == 2003])
BarData = BarData.append(BarZon3[BarZon3['Year'] == 2003])
BarData = BarData.append(BarZon4[BarZon4['Year'] == 2003])
BarData = BarData.append(BarZon1[BarZon1['Year'] == 2004])
BarData = BarData.append(BarZon2[BarZon2['Year'] == 2004])
BarData = BarData.append(BarZon3[BarZon3['Year'] == 2004])
BarData = BarData.append(BarZon4[BarZon4['Year'] == 2004])
BarData = BarData.append(BarZon1[BarZon1['Year'] == 2005])
BarData = BarData.append(BarZon2[BarZon2['Year'] == 2005])
BarData = BarData.append(BarZon3[BarZon3['Year'] == 2005])
BarData = BarData.append(BarZon4[BarZon4['Year'] == 2005])
BarData = BarData.append(BarZon1[BarZon1['Year'] == 2006])
BarData = BarData.append(BarZon2[BarZon2['Year'] == 2006])
BarData = BarData.append(BarZon3[BarZon3['Year'] == 2006])
BarData = BarData.append(BarZon4[BarZon4['Year'] == 2006])
BarData = BarData.append(BarZon1[BarZon1['Year'] == 2007])
BarData = BarData.append(BarZon2[BarZon2['Year'] == 2007])
BarData = BarData.append(BarZon3[BarZon3['Year'] == 2007])
BarData = BarData.append(BarZon4[BarZon4['Year'] == 2007])
BarData = BarData.append(BarZon1[BarZon1['Year'] == 2008])
BarData = BarData.append(BarZon2[BarZon2['Year'] == 2008])
BarData = BarData.append(BarZon3[BarZon3['Year'] == 2008])
BarData = BarData.append(BarZon4[BarZon4['Year'] == 2008])
BarData = BarData.append(BarZon1[BarZon1['Year'] == 2009])
BarData = BarData.append(BarZon2[BarZon2['Year'] == 2009])
BarData = BarData.append(BarZon3[BarZon3['Year'] == 2009])
BarData = BarData.append(BarZon4[BarZon4['Year'] == 2009])
BarData = BarData.append(BarZon1[BarZon1['Year'] == 2010])
BarData = BarData.append(BarZon2[BarZon2['Year'] == 2010])
BarData = BarData.append(BarZon3[BarZon3['Year'] == 2010])
BarData = BarData.append(BarZon4[BarZon4['Year'] == 2010])

In [95]:
MazData = MazZon1
MazData = MazData.append(MazZon2)
MazData = MazData.append(MazZon3)
MazData = MazData.append(MazZon4)
###################################################

MilData = MilZon1
MilData = MilData.append(MilZon2)
MilData = MilData.append(MilZon3)
MilData = MilData.append(MilZon4)
###################################################

SorgData = SorgZon1
SorgData = SorgData.append(SorgZon2)
SorgData = SorgData.append(SorgZon3)
SorgData = SorgData.append(SorgZon4)
###################################################

TefData = TefZon1
TefData = TefData.append(TefZon2)
TefData = TefData.append(TefZon3)
TefData = TefData.append(TefZon4)
###################################################

WhetData = WhetZon1
WhetData = WhetData.append(WhetZon2)
WhetData = WhetData.append(WhetZon3)
WhetData = WhetData.append(WhetZon4)
###################################################

ChPRData = ChPRZon1
ChPRData = ChPRData.append(ChPRZon2)
ChPRData = ChPRData.append(ChPRZon3)
ChPRData = ChPRData.append(ChPRZon4)
###################################################

WhHBData = WhHBZon1
WhHBData = WhHBData.append(WhHBZon2)
WhHBData = WhHBData.append(WhHBZon3)
WhHBData = WhHBData.append(WhHBZon4)
###################################################

In [96]:
MazData.head()

    Zone  Year      Area  Production  Yield
0      1  1996  19841.00   347024.00  17.49
4      1  1997  21084.00   296878.00  14.08
8      1  1998  17063.93   320066.85  18.76
12     1  1999  21975.11   458765.12  20.88
16     1  2000  25824.88   396002.83  15.33

In [97]:

Maz1996 = MazData[MazData['Year'] == 1996]
Maz1997 = MazData[MazData['Year'] == 1997]
Maz1998 = MazData[MazData['Year'] == 1998]
Maz1999 = MazData[MazData['Year'] == 1999]
Maz2000 = MazData[MazData['Year'] == 2000]
Maz2001 = MazData[MazData['Year'] == 2001]
Maz2002 = MazData[MazData['Year'] == 2002]
Maz2003 = MazData[MazData['Year'] == 2003]
Maz2004 = MazData[MazData['Year'] == 2004]
Maz2005 = MazData[MazData['Year'] == 2005]
Maz2006 = MazData[MazData['Year'] == 2006]
Maz2007 = MazData[MazData['Year'] == 2007]
Maz2008 = MazData[MazData['Year'] == 2008]
Maz2009 = MazData[MazData['Year'] == 2009]
Maz2010 = MazData[MazData['Year'] == 2010]
##########################################################

Mil1996 = MilData[MilData['Year'] == 1996]
Mil1997 = MilData[MilData['Year'] == 1997]
Mil1998 = MilData[MilData['Year'] == 1998]
Mil1999 = MilData[MilData['Year'] == 1999]
Mil2000 = MilData[MilData['Year'] == 2000]
Mil2001 = MilData[MilData['Year'] == 2001]
Mil2002 = MilData[MilData['Year'] == 2002]
Mil2003 = MilData[MilData['Year'] == 2003]
Mil2004 = MilData[MilData['Year'] == 2004]
Mil2005 = MilData[MilData['Year'] == 2005]
Mil2006 = MilData[MilData['Year'] == 2006]
Mil2007 = MilData[MilData['Year'] == 2007]
Mil2008 = MilData[MilData['Year'] == 2008]
Mil2009 = MilData[MilData['Year'] == 2009]
Mil2010 = MilData[MilData['Year'] == 2010]
##########################################################

Sorg1996 = SorgData[SorgData['Year'] == 1996]
Sorg1997 = SorgData[SorgData['Year'] == 1997]
Sorg1998 = SorgData[SorgData['Year'] == 1998]
Sorg1999 = SorgData[SorgData['Year'] == 1999]
Sorg2000 = SorgData[SorgData['Year'] == 2000]
Sorg2001 = SorgData[SorgData['Year'] == 2001]
Sorg2002 = SorgData[SorgData['Year'] == 2002]
Sorg2003 = SorgData[SorgData['Year'] == 2003]
Sorg2004 = SorgData[SorgData['Year'] == 2004]
Sorg2005 = SorgData[SorgData['Year'] == 2005]
Sorg2006 = SorgData[SorgData['Year'] == 2006]
Sorg2007 = SorgData[SorgData['Year'] == 2007]
Sorg2008 = SorgData[SorgData['Year'] == 2008]
Sorg2009 = SorgData[SorgData['Year'] == 2009]
Sorg2010 = SorgData[SorgData['Year'] == 2010]
##########################################################

Tef1996 = TefData[TefData['Year'] == 1996]
Tef1997 = TefData[TefData['Year'] == 1997]
Tef1998 = TefData[TefData['Year'] == 1998]
Tef1999 = TefData[TefData['Year'] == 1999]
Tef2000 = TefData[TefData['Year'] == 2000]
Tef2001 = TefData[TefData['Year'] == 2001]
Tef2002 = TefData[TefData['Year'] == 2002]
Tef2003 = TefData[TefData['Year'] == 2003]
Tef2004 = TefData[TefData['Year'] == 2004]
Tef2005 = TefData[TefData['Year'] == 2005]
Tef2006 = TefData[TefData['Year'] == 2006]
Tef2007 = TefData[TefData['Year'] == 2007]
Tef2008 = TefData[TefData['Year'] == 2008]
Tef2009 = TefData[TefData['Year'] == 2009]
Tef2010 = TefData[TefData['Year'] == 2010]
##########################################################

Whet1996 = WhetData[WhetData['Year'] == 1996]
Whet1997 = WhetData[WhetData['Year'] == 1997]
Whet1998 = WhetData[WhetData['Year'] == 1998]
Whet1999 = WhetData[WhetData['Year'] == 1999]
Whet2000 = WhetData[WhetData['Year'] == 2000]
Whet2001 = WhetData[WhetData['Year'] == 2001]
Whet2002 = WhetData[WhetData['Year'] == 2002]
Whet2003 = WhetData[WhetData['Year'] == 2003]
Whet2004 = WhetData[WhetData['Year'] == 2004]
Whet2005 = WhetData[WhetData['Year'] == 2005]
Whet2006 = WhetData[WhetData['Year'] == 2006]
Whet2007 = WhetData[WhetData['Year'] == 2007]
Whet2008 = WhetData[WhetData['Year'] == 2008]
Whet2009 = WhetData[WhetData['Year'] == 2009]
Whet2010 = WhetData[WhetData['Year'] == 2010]
##########################################################

ChPR1996 = ChPRData[WhetData['Year'] == 1996]
ChPR1997 = ChPRData[WhetData['Year'] == 1997]
ChPR1998 = ChPRData[WhetData['Year'] == 1998]
ChPR1999 = ChPRData[WhetData['Year'] == 1999]
ChPR2000 = ChPRData[WhetData['Year'] == 2000]
ChPR2001 = ChPRData[WhetData['Year'] == 2001]
ChPR2002 = ChPRData[WhetData['Year'] == 2002]
ChPR2003 = ChPRData[WhetData['Year'] == 2003]
ChPR2004 = ChPRData[WhetData['Year'] == 2004]
ChPR2005 = ChPRData[WhetData['Year'] == 2005]
ChPR2006 = ChPRData[WhetData['Year'] == 2006]
ChPR2007 = ChPRData[WhetData['Year'] == 2007]
ChPR2008 = ChPRData[WhetData['Year'] == 2008]
ChPR2009 = ChPRData[WhetData['Year'] == 2009]
ChPR2010 = ChPRData[WhetData['Year'] == 2010]
##########################################################

WhHB1996 = WhHBData[WhetData['Year'] == 1996]
WhHB1997 = WhHBData[WhetData['Year'] == 1997]
WhHB1998 = WhHBData[WhetData['Year'] == 1998]
WhHB1999 = WhHBData[WhetData['Year'] == 1999]
WhHB2000 = WhHBData[WhetData['Year'] == 2000]
WhHB2001 = WhHBData[WhetData['Year'] == 2001]
WhHB2002 = WhHBData[WhetData['Year'] == 2002]
WhHB2003 = WhHBData[WhetData['Year'] == 2003]
WhHB2004 = WhHBData[WhetData['Year'] == 2004]
WhHB2005 = WhHBData[WhetData['Year'] == 2005]
WhHB2006 = WhHBData[WhetData['Year'] == 2006]
WhHB2007 = WhHBData[WhetData['Year'] == 2007]
WhHB2008 = WhHBData[WhetData['Year'] == 2008]
WhHB2009 = WhHBData[WhetData['Year'] == 2009]
WhHB2010 = WhHBData[WhetData['Year'] == 2010]

In [98]:
MazData = Maz1996
MazData = MazData.append(Maz1997)
MazData = MazData.append(Maz1998)
MazData = MazData.append(Maz1999)
MazData = MazData.append(Maz2000)
MazData = MazData.append(Maz2001)
MazData = MazData.append(Maz2002)
MazData = MazData.append(Maz2003)
MazData = MazData.append(Maz2004)
MazData = MazData.append(Maz2005)
MazData = MazData.append(Maz2006)
MazData = MazData.append(Maz2007)
MazData = MazData.append(Maz2008)
MazData = MazData.append(Maz2009)
MazData = MazData.append(Maz2010)
######################################################

MilData = Mil1996
MilData = MilData.append(Mil1997)
MilData = MilData.append(Mil1998)
MilData = MilData.append(Mil1999)
MilData = MilData.append(Mil2000)
MilData = MilData.append(Mil2001)
MilData = MilData.append(Mil2002)
MilData = MilData.append(Mil2003)
MilData = MilData.append(Mil2004)
MilData = MilData.append(Mil2005)
MilData = MilData.append(Mil2006)
MilData = MilData.append(Mil2007)
MilData = MilData.append(Mil2008)
MilData = MilData.append(Mil2009)
MilData = MilData.append(Mil2010)
######################################################

SorgData = Sorg1996
SorgData = SorgData.append(Sorg1997)
SorgData = SorgData.append(Sorg1998)
SorgData = SorgData.append(Sorg1999)
SorgData = SorgData.append(Sorg2000)
SorgData = SorgData.append(Sorg2001)
SorgData = SorgData.append(Sorg2002)
SorgData = SorgData.append(Sorg2003)
SorgData = SorgData.append(Sorg2004)
SorgData = SorgData.append(Sorg2005)
SorgData = SorgData.append(Sorg2006)
SorgData = SorgData.append(Sorg2007)
SorgData = SorgData.append(Sorg2008)
SorgData = SorgData.append(Sorg2009)
SorgData = SorgData.append(Sorg2010)
######################################################

TefData = Tef1996
TefData = TefData.append(Tef1997)
TefData = TefData.append(Tef1998)
TefData = TefData.append(Tef1999)
TefData = TefData.append(Tef2000)
TefData = TefData.append(Tef2001)
TefData = TefData.append(Tef2002)
TefData = TefData.append(Tef2003)
TefData = TefData.append(Tef2004)
TefData = TefData.append(Tef2005)
TefData = TefData.append(Tef2006)
TefData = TefData.append(Tef2007)
TefData = TefData.append(Tef2008)
TefData = TefData.append(Tef2009)
TefData = TefData.append(Tef2010)
######################################################

WhetData = Whet1996
WhetData = WhetData.append(Whet1997)
WhetData = WhetData.append(Whet1998)
WhetData = WhetData.append(Whet1999)
WhetData = WhetData.append(Whet2000)
WhetData = WhetData.append(Whet2001)
WhetData = WhetData.append(Whet2002)
WhetData = WhetData.append(Whet2003)
WhetData = WhetData.append(Whet2004)
WhetData = WhetData.append(Whet2005)
WhetData = WhetData.append(Whet2006)
WhetData = WhetData.append(Whet2007)
WhetData = WhetData.append(Whet2008)
WhetData = WhetData.append(Whet2009)
WhetData = WhetData.append(Whet2010)
######################################################

ChPRData = ChPR1996
ChPRData = ChPRData.append(ChPR1997)
ChPRData = ChPRData.append(ChPR1998)
ChPRData = ChPRData.append(ChPR1999)
ChPRData = ChPRData.append(ChPR2000)
ChPRData = ChPRData.append(ChPR2001)
ChPRData = ChPRData.append(ChPR2002)
ChPRData = ChPRData.append(ChPR2003)
ChPRData = ChPRData.append(ChPR2004)
ChPRData = ChPRData.append(ChPR2005)
ChPRData = ChPRData.append(ChPR2006)
ChPRData = ChPRData.append(ChPR2007)
ChPRData = ChPRData.append(ChPR2008)
ChPRData = ChPRData.append(ChPR2009)
ChPRData = ChPRData.append(ChPR2010)
######################################################

WhHBData = WhHB1996
WhHBData = WhHBData.append(WhHB1997)
WhHBData = WhHBData.append(WhHB1998)
WhHBData = WhHBData.append(WhHB1999)
WhHBData = WhHBData.append(WhHB2000)
WhHBData = WhHBData.append(WhHB2001)
WhHBData = WhHBData.append(WhHB2002)
WhHBData = WhHBData.append(WhHB2003)
WhHBData = WhHBData.append(WhHB2004)
WhHBData = WhHBData.append(WhHB2005)
WhHBData = WhHBData.append(WhHB2006)
WhHBData = WhHBData.append(WhHB2007)
WhHBData = WhHBData.append(WhHB2008)
WhHBData = WhHBData.append(WhHB2009)
WhHBData = WhHBData.append(WhHB2010)
######################################################

In [99]:
WhHBData.head()

   Zone  Year     Area  Production       Yield
0     1  1996  293.375    2573.395    8.771692
1     2  1996  896.664    4763.110    5.312034
2     3  1996    4.260         NaN         NaN
3     4  1996   58.766    6001.618  102.127387
4     1  1997  293.375    2573.395    8.771692

In [101]:
# make a list of the variables that contain missing values
vars_with_na = [var for var in BarData.columns if BarData[var].isnull().sum()>1]

# print the variable name and the percentage of missing values
for var in vars_with_na:
    print(var, np.round(BarData[var].isnull().mean(), 3),  ' % missing values')

In [102]:
# make a list of the variables that contain missing values
vars_with_na = [var for var in MazData.columns if MazData[var].isnull().sum()>1]

# print the variable name and the percentage of missing values
for var in vars_with_na:
    print(var, np.round(MazData[var].isnull().mean(), 3),  ' % missing values')

In [103]:
# make a list of the variables that contain missing values
vars_with_na = [var for var in MilData.columns if MilData[var].isnull().sum()>1]

# print the variable name and the percentage of missing values
for var in vars_with_na:
    print(var, np.round(MilData[var].isnull().mean(), 3),  ' % missing values')

In [104]:
# make a list of the variables that contain missing values
vars_with_na = [var for var in SorgData.columns if SorgData[var].isnull().sum()>1]

# print the variable name and the percentage of missing values
for var in vars_with_na:
    print(var, np.round(SorgData[var].isnull().mean(), 3),  ' % missing values')

In [105]:
# make a list of the variables that contain missing values
vars_with_na = [var for var in TefData.columns if TefData[var].isnull().sum()>1]

# print the variable name and the percentage of missing values
for var in vars_with_na:
    print(var, np.round(TefData[var].isnull().mean(), 3),  ' % missing values')

In [106]:
# make a list of the variables that contain missing values
vars_with_na = [var for var in WhetData.columns if WhetData[var].isnull().sum()>1]

# print the variable name and the percentage of missing values
for var in vars_with_na:
    print(var, np.round(WhetData[var].isnull().mean(), 3),  ' % missing values')

In [107]:
# make a list of the variables that contain missing values
vars_with_na = [var for var in ChPRData.columns if ChPRData[var].isnull().sum()>1]

# print the variable name and the percentage of missing values
for var in vars_with_na:
    print(var, np.round(ChPRData[var].isnull().mean(), 3),  ' % missing values')

In [108]:
# make a list of the variables that contain missing values
vars_with_na = [var for var in WhHBData.columns if WhHBData[var].isnull().sum()>1]

# print the variable name and the percentage of missing values
for var in vars_with_na:
    print(var, np.round(WhHBData[var].isnull().mean(), 3),  ' % missing values')

Production 0.25  % missing values
Yield 0.25  % missing values

In [109]:
meanpr = WhHBData['Production'].mean()
meanye = WhHBData['Yield'].mean()

In [110]:
WhHBData['Production'] = WhHBData['Production'].fillna(meanpr)
WhHBData['Yield'] = WhHBData['Yield'].fillna(meanye)

In [111]:
# make a list of the variables that contain missing values
vars_with_na = [var for var in WhHBData.columns if WhHBData[var].isnull().sum()>1]

# print the variable name and the percentage of missing values
for var in vars_with_na:
    print(var, np.round(WhHBData[var].isnull().mean(), 3),  ' % missing values')

In [112]:
BarData.to_csv('C:/Users/hp/CSA_AGRI_DATA/area_product/fet_areapro/BarleyAreaProFet.csv')
MazData.to_csv('C:/Users/hp/CSA_AGRI_DATA/area_product/fet_areapro/MaizeAreaProFet.csv')
MilData.to_csv('C:/Users/hp/CSA_AGRI_DATA/area_product/fet_areapro/MilletAreaProFet.csv')
SorgData.to_csv('C:/Users/hp/CSA_AGRI_DATA/area_product/fet_areapro/SorghumAreaProFet.csv')
TefData.to_csv('C:/Users/hp/CSA_AGRI_DATA/area_product/fet_areapro/TeffAreaProFet.csv')
WhetData.to_csv('C:/Users/hp/CSA_AGRI_DATA/area_product/fet_areapro/WheatAreaProFet.csv')
ChPRData.to_csv('C:/Users/hp/CSA_AGRI_DATA/area_product/fet_areapro/Red_Chick_peasAreaProFet.csv')
WhHBData.to_csv('C:/Users/hp/CSA_AGRI_DATA/area_product/fet_areapro/White_haricot_beansAreaProFet.csv')